.env
.envrc
.idea/
target/

# It'd be nice to ignore these,
# but then build script complains the workspace is dirty
# *.md/
# .*ignore
# Dockerfile
# Makefile.toml
# docker-compose.yml
# make.env
# proptest-regressions/
# rustfmt.toml
# scripts/

